.searchForm {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;

    border: 1px solid var(--color-border);
    border-radius: 12px;
    background-color: var(--color-bg-primary);
}
