.errorResult {
    width: 100%;
    max-width: 700px;
    margin: 25px auto 0;
    padding: 25px;
    background-color: var(--color-bg-error);
    border: 1px solid var(--color-border-error);
    border-radius: 8px;
}

.error {
    padding: 20px;
    color: var(--color-text-error);
    text-align: center;
}
